*{
  margin: 0;
  padding: 0;
}
.slidebar{
  position: absolute;
  background-color: rgb(168, 165, 165); 
  height: 100vh;
  width: 30vh;
  margin-right: 5px;
  transition: transform 0.3s ease-in;
  

}
.slidebar  li a{
  text-decoration: none;
  color:white;
}
.slidebar  li{
  list-style: none;
  font-size: 20px;
  padding: 13px 0;
  color:white;
}
.box{
  margin-left: 32vh;
}
div.d-flex.justify-content-between{
  margin-left: 30vh;
}

.th1{
  background-color: black;
  color: white;
  border: 1px solid black;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.col1 {
  border: 1px solid black;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}